// includes dom controlBar

div.calendar.week {
	div.day-cell {
		cursor: pointer;
		background-color: #777;
		min-height: 14.285714285714286%;

		div.day-title {
			cursor: pointer;
			padding: 6px;
			background-color: rgba(255, 255, 255, 0.2);
			font-size: 1em;
			color: black;
		}
	}
}